@import "./styles/header.css" screen;
@import "./styles/slider.css" screen;
@import "./styles/logo.css" screen;
@import "./styles/navigation.css" screen;
@import "./styles/footer.css" screen;
@import "./styles/advantages.css" screen;
@import "./styles/posts.css" screen;
@import "./styles/brands.css" screen;
@import "./styles/reviews.css" screen;
@import "./styles/prices.css" screen;
@import "./styles/clients.css" screen;
@import "./styles/showcase.css" screen;
@import "./styles/go-top.css" screen;

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: #f7f7f7;
	font-family: Hind, sans-serif;
	scroll-behavior: smooth;
	overflow-y: scroll;
}

header {
	position: fixed;
	z-index: 100;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
