.slider {
	width: 100%;
	text-align: center;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.slider__navigation {
	position: absolute;
	bottom: 40px;
	left: 0;
	z-index: 2;
	width: 100%;
}

.slider__navigation-wrapper {
	display: flex;
	margin: 0 auto;
	width: 1170px;
	padding: 0 15px;
	justify-content: flex-start;
	box-sizing: content-box;
}

.slider__navigation-item {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #fff;
	border-radius: 10px;
}

.slider__navigation-item:active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #fff;
}

.slider__navigation-item:active {
	top: 1px;
}

.slider__navigation-item:focus {
	background: #000;
}

.slider__list {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
}

.slider__list::-webkit-scrollbar {
	height: 0;
}

.slider__list::-webkit-scrollbar-track {
	background: transparent;
}

.slider__item {
	scroll-snap-align: start;
	flex-shrink: 0;
	width: 100vw;
	height: 100vh;
	transform-origin: center center;
	transform: scale(1);
	transition: transform 0.5s;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100px;
	z-index: 1;
}

.slider__item-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.slider__item-content-wrapper {
	width: 1170px;
	height: 100%;
	padding: 0 15px;
	box-sizing: content-box;
	margin: 0 auto;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.slider__item-title {
	font-size: 80px;
	font-weight: 700;
	color: #fff;
	line-height: 1.1;
	text-transform: uppercase;
	margin-bottom: 15px;
	text-align: left;
}

.slider__item-description {
	font-size: 15px;
	font-weight: 400;
	color: #a6a7aa;
	margin-bottom: 40px;
	text-align: left;
}

.slider__item-link {
	font-size: 13px;
	font-weight: 600;
	padding: 15px 30px;
	color: #fff;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-width: 1px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
}

.slider__item-link:hover {
	background: #17bed2;
	transition: background-color ease-in-out 0.3s;
}

.slider__item-image {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (max-width: 768px) {
	.slider__item-title {
		font-size: 60px;
	}
}
